{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    
<section class="card card-body">
    <h1 class="display-1 text-center ">My tienda favorita</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel modi, atque dignissimos maiores illo possimus distinctio aspernatur at ratione dicta vero quasi, labore nemo repellendus nostrum facere laudantium quia.
Quas similique et quia rem beatae pariatur perferendis, ea ut aspernatur incidunt quo optio ullam iste ipsum consequatur blanditiis? Maiores neque voluptatum aut labore id in incidunt et assumenda nostrum!
Quaerat tenetur ut qui facilis quis ullam mollitia inventore provident. Sunt suscipit aliquam tenetur odio modi sit praesentium dicta mollitia quae placeat aut, aspernatur quis illo. Laborum architecto eum porro!
Soluta repudiandae commodi accusantium nisi sunt veritatis aut delectus perspiciatis ipsum modi porro dolorem ea facilis nemo ipsam, error, consequatur, iste deleniti molestias quaerat dolore aperiam nobis nostrum magni. Minus.
Exercitationem ducimus eligendi unde eum deleniti animi repudiandae quas, saepe itaque id praesentium rerum veritatis, facere impedit molestias hic tempore officiis in dolorum illo laudantium? Laborum assumenda omnis repudiandae nisi!
Eveniet, magni! Blanditiis eligendi facere veritatis eaque, commodi saepe deserunt numquam soluta, quae perspiciatis quibusdam quam harum dolore adipisci enim? Assumenda in quis laborum velit quam expedita laudantium, vel quaerat.
Expedita labore hic cumque dolore itaque voluptate non iure accusantium, pariatur laborum. Neque labore ducimus molestias illo incidunt numquam! Delectus molestias minima accusantium ad aut similique unde recusandae illo necessitatibus?
Praesentium possimus officiis magni quaerat consequatur atque impedit voluptas nemo quibusdam aut dolorum, iure libero odio soluta eum quasi numquam quis natus reprehenderit eligendi iste pariatur minus sed? Nisi, quae.
Odit, perferendis sunt laboriosam facilis, voluptates cupiditate alias illum libero dolorem necessitatibus atque ipsa, a beatae ad minima est quo doloribus. Ex, nulla amet neque natus similique impedit hic ad?
Nisi labore incidunt ratione nulla sed. Beatae laboriosam minima commodi accusantium error, soluta nemo illum iusto expedita id velit sed reprehenderit officiis asperiores delectus aliquid, quas perspiciatis exercitationem suscipit odit.</p>

<div class="text-center">
    <a class="btn btn-primary" href='/signin/'>
        Ingresar
    </a>
    <a class="btn btn-primary" href='/signup/'>
        Registrarse
    </a>

</div>
</section>
<footer>
    <h3 class="text-primary">

        Created by @Godofredo Palomino Mayta 
    </h3>
</footer>
</main>
{% endblock%}