{% extends "base.html" %} 
{% block content %}
 
<div class="container">
    {% if 'valido' in request.GET %}
    <p>informacion enviada correctamente</p>
    <div class="row m">
        <div class="col-md-4 offset-md-4 mt-5">

            {% csrf_token %}
            <form action="" method="POST" class="center">
                <div class="mb-3">
                   
                <table>{{mi_formulario.as_table}} </table>
                
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    
</div>
{% endblock %}
